@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Inter&display=swap");
.card {
  padding-top: 5px;
  display: grid;
  grid-template-areas: "card__title card__title" "card__img card__text" "card__img button";
  grid-template-rows: 10% 70% 20%;
  grid-template-columns: 30% 70%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #e9e8e8;
  border-radius: 50px;
  width: 50rem;
  height: 18rem;
  box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75); }
  .card .card__img {
    grid-area: card__img;
    justify-content: center;
    margin: 0px auto;
    width: 210px;
    height: 210px;
    border-radius: 100vh; }
    .card .card__img:hover {
      transform: scale(1.03);
      transition: all 0.3s ease; }
  .card .card__title {
    grid-area: card__title;
    text-align: center;
    font-size: 20px; }
    .card .card__title:hover {
      transform: scale(1.03);
      transition: all 0.3s ease; }
  .card .card__text {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    grid-area: card__text;
    text-align: left; }
  .card .button {
    justify-content: left;
    grid-area: button;
    height: fit-content;
    width: fit-content;
    margin: 5px auto;
    border-style: inset;
    border-width: thin;
    color: aliceblue;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75); }
    .card .button:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease;
      background-color: aliceblue;
      color: rgba(0, 0, 0, 0.75);
      font-weight: bolder;
      border-width: initial; }

.card2 {
  padding-top: 5px;
  display: grid;
  grid-template-areas: "card__title card__title" "card__text card__img" "card__text card__img";
  grid-template-rows: 10% 89% 1%;
  grid-template-columns: 70% 30%;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #e9e8e8;
  border-radius: 50px;
  width: 50rem;
  height: 18rem;
  box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 4px 19px 1px rgba(0, 0, 0, 0.75); }
  .card2 .card__img {
    grid-area: card__img;
    justify-content: center;
    margin: 0px auto;
    width: 210px;
    height: 210px;
    border-radius: 100vh; }
    .card2 .card__img:hover {
      transform: scale(1.03);
      transition: all 0.3s ease; }
  .card2 .card__title {
    grid-area: card__title;
    text-align: center;
    font-size: 20px; }
    .card2 .card__title:hover {
      transform: scale(1.03);
      transition: all 0.3s ease; }
  .card2 .card__text {
    padding-top: 15px;
    padding-left: 17px;
    display: flex;
    justify-content: center;
    grid-area: card__text;
    text-align: left; }
  .card2 .button {
    justify-content: left;
    grid-area: button;
    height: fit-content;
    width: fit-content;
    margin: 5px auto;
    border-style: inset;
    border-width: thin;
    color: aliceblue;
    font-weight: 400;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.75); }
    .card2 .button:hover {
      transform: translateY(-5px);
      transition: all 0.3s ease;
      background-color: aliceblue;
      color: rgba(0, 0, 0, 0.75);
      font-weight: bolder;
      border-width: initial; }

@media (max-width: 1180px) {
  .card {
    margin-top: 15px;
    grid-template-areas: "card__title card__title" "card__img card__text" "card__img button";
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 40% 60%;
    width: 60vh;
    height: 33vh; }
    .card .card__text {
      width: fit-content;
      font-size: 17px; }
    .card .card__title {
      font-size: 30px; }
    .card .button {
      margin-top: 20px;
      font-size: 20px; }
    .card .card__img {
      grid-area: card__img;
      justify-content: center;
      border-radius: 100vh;
      object-fit: cover;
      width: 17rem;
      height: 17rem; }
  .card2 {
    margin-top: 15px;
    grid-template-areas: "card__title card__title" " card__text card__img" "button card__img";
    grid-template-rows: 10% 70% 20%;
    grid-template-columns: 60% 40%;
    width: 60vh;
    height: 33vh; }
    .card2 .card__text {
      width: fit-content;
      font-size: 17px; }
    .card2 .card__title {
      font-size: 30px; }
    .card2 .button {
      margin-top: 20px;
      font-size: 20px; }
    .card2 .card__img {
      grid-area: card__img;
      justify-content: center;
      border-radius: 100vh;
      object-fit: cover;
      width: 17rem;
      height: 17rem; } }

@media (max-width: 768px) {
  .card {
    grid-template-areas: "card__title card__title" "card__img card__text" "card__img button";
    grid-template-rows: 10% 65% 25%;
    grid-template-columns: 40% 60%;
    width: 370px;
    height: 220px;
    margin: 15px; }
    .card .card__title {
      font-weight: bold;
      font-size: 10px; }
    .card .card__text {
      width: fit-content;
      font-size: 8.9px; }
    .card .button {
      font-size: 7px; }
    .card .card__img {
      grid-area: card__img;
      justify-content: center;
      margin: 0px auto;
      width: 140px;
      height: 140px;
      border-radius: 100vh;
      object-fit: cover; }
  .card2 {
    grid-template-areas: "card__title card__title" "card__text card__img" "button card__img";
    grid-template-rows: 5% 72% 23%;
    grid-template-columns: 60% 40%;
    width: 370px;
    height: 220px;
    margin: 15px; }
    .card2 .card__title {
      font-weight: bold;
      font-size: 10px; }
    .card2 .card__text {
      width: fit-content;
      font-size: 8.7px; }
    .card2 .button {
      font-size: 7px; }
    .card2 .card__img {
      grid-area: card__img;
      justify-content: center;
      margin: 0px auto;
      width: 140px;
      height: 140px;
      border-radius: 100vh;
      object-fit: cover; } }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter";
  background-image: linear-gradient(to bottom, #EEF1EF, #efefe9); }

.salidas-titulo {
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: larger;
  font-family: "Inter";
  color: #070707; }

.salidas-parrafo {
  padding: 10px;
  padding-top: 50px;
  line-height: 30px;
  text-align: center;
  font-size: large;
  font-family: "Inter";
  color: #070707; }

#bodegastitulo {
  height: 15vh; }

.bodega-titulo {
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  font-family: "Inter";
  color: #0b0c0c;
  line-height: 10px; }

.textoseccion {
  text-decoration: wavy;
  padding-top: 10px;
  font-weight: 450;
  line-height: 30px;
  text-align: center;
  font-size: large;
  font-family: "Inter";
  color: #070707; }

.parrafocierre {
  text-align: center;
  font-size: larger;
  font-family: "Inter";
  color: #070707; }
  .parrafocierre a {
    text-align: center;
    font-size: larger;
    font-family: "Inter";
    text-decoration: underline;
    color: #070707; }

@media (max-width: 1180px) {
  .salidas-titulo {
    padding: 10px;
    text-align: center;
    font-size: 24px; }
  .mainCointainerSecciones {
    height: auto; }
  .bodega-titulo {
    padding-top: 20px;
    text-align: center;
    font-family: "Inter";
    color: #0b0c0c;
    font-size: 25px;
    height: fit-content; }
  .parrafocierre {
    text-align: center;
    font-size: medium;
    font-family: "Inter";
    color: #0b0c0c; }
    .parrafocierre a {
      text-align: center;
      font-size: larger;
      font-family: "Inter";
      text-decoration: underline;
      color: #0b0c0c; }
  .textoseccion {
    padding-top: 10px;
    font-size: 20px;
    line-height: 25px; } }

@media (max-width: 768px) {
  .salidas-parrafo {
    font-size: 12px;
    padding: 10px;
    line-height: 17px; }
  .salidas-titulo {
    grid-area: salidasTitulo;
    font-size: 15px; }
  .mainCointainerSecciones {
    height: auto; }
  .bodega-titulo {
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    font-size: 15px;
    font-family: "Inter";
    color: #0b0c0c; }
  .parrafocierre {
    text-align: center;
    font-size: 15px;
    font-family: "Inter";
    color: #0b0c0c; }
    .parrafocierre a {
      text-align: center;
      font-size: 15px;
      font-family: "Inter";
      text-decoration: underline;
      color: #0b0c0c; }
  .textoseccion {
    margin-top: -3px;
    margin-bottom: -3px;
    font-size: 10px;
    line-height: 15px; } }

footer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, #EEF1EF, #A9B4C2);
  line-height: 15px;
  font-family: "Inter"; }
  footer .logo__img__footer {
    width: 70px;
    height: 60px; }
  footer a {
    color: #0b0c0c;
    text-decoration: none;
    font-weight: bold;
    padding: 1px; }
  footer .legal {
    line-height: 30px;
    padding-top: 15px;
    font-family: "Inter";
    font-weight: 500; }
  footer .footer2 {
    font-family: "Inter";
    flex-direction: column; }
  footer .redes-sociales {
    font-weight: bold;
    padding: 10px; }
    footer .redes-sociales:hover {
      transform: scale(1.02);
      transition: all 0.3s ease; }
    footer .redes-sociales a {
      text-decoration: none; }
  footer .footer__text {
    padding: 10px;
    color: #0b0c0c; }

@media (max-width: 1180px) {
  footer {
    background-size: cover; }
    footer .footer__text {
      font-size: 10px; }
    footer .footer2 {
      font-size: 17px; }
    footer .redes-sociales {
      padding: 5px;
      font-size: 17px; }
    footer .legal {
      font-family: "Inter";
      text-decoration: solid;
      flex-direction: column;
      font-size: 15px;
      line-height: 20px; }
    footer .footer__text {
      font-size: 17px; } }

@media (max-width: 768px) {
  footer {
    background-size: cover; }
    footer .footer__text {
      font-size: 10px; }
    footer .footer2 {
      font-size: 10px; }
    footer .redes-sociales {
      padding: 3px;
      font-size: 10px; }
    footer .legal {
      font-family: "Inter";
      text-decoration: solid;
      flex-direction: column;
      font-size: 8px; } }

li {
  list-style: none; }

.titulo {
  color: #0b0c0c;
  height: fit-content;
  width: fit-content; }

header, #headerMaipu, #headerUco, #headerCuyo, #headerContacto {
  font-weight: bolder;
  font-size: large;
  color: #0b0c0c;
  background-image: url(../Assets/img/HeaderIndex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: top;
  background-attachment: fixed; }

#headerMaipu {
  background-image: url(../Assets/img/HeaderMaipu.jpg); }

#headerUco {
  background-image: url(../Assets/img/HeaderUco.jpg); }

#headerCuyo {
  background-image: url(../Assets/img/HeaderCuyo.jpg);
  background-position: top; }

#headerContacto {
  background-image: url(../Assets/img/HeaderContactobis.jpg); }

.titulo-principal {
  width: fit-content;
  font-family: "Caveat";
  border: none;
  color: #0b0c0c;
  text-decoration: dashed;
  font-size: 85px;
  padding-left: 20px;
  padding-top: 50px;
  animation-name: movimientosmisc;
  animation-duration: 0.55s;
  animation-timing-function: ease-in; }

@keyframes movimientosmisc {
  0% {
    transform: translateY(-50px);
    opacity: 0; }
  100% {
    transform: translateY(0px);
    opacity: 1; } }
  .titulo-principal:hover {
    transform: translateY(15px);
    transition: all 0.3s ease; }

.navbar {
  height: 80px; }
  .navbar .logo__img {
    width: 120px;
    height: 90px; }
  .navbar .navbar-brand {
    text-decoration: dashed;
    font-size: xx-large;
    font-family: "Caveat";
    text-align: center; }
    .navbar .navbar-brand:hover {
      transform: scale(1.06);
      transition: all 0.3s ease; }
  .navbar .nav-link {
    font-weight: 700;
    font-family: "Caveat";
    font-size: x-large; }
  .navbar .nav-item {
    font-weight: 700; }
    .navbar .nav-item:hover {
      transform: scale(1.03);
      transition: all 0.3s ease; }

@media (max-width: 1180px) {
  .navbar-toggler {
    transform: translateY(-20px);
    background-color: rgba(255, 255, 255, 0.4);
    border: 30px; }
  .nav-item {
    background-color: rgba(255, 255, 255, 0.75); }
  .nav-link {
    display: flex;
    padding: 0px;
    margin: 0px;
    text-decoration: dashed;
    justify-content: right;
    font-weight: bolder; }
  header, #headerMaipu, #headerUco, #headerCuyo, #headerContacto {
    background-size: contain;
    height: 30vh; }
  #headerUco {
    background-size: contain;
    height: 450px; }
  #headerMaipu {
    background-size: contain;
    height: 450px; }
  #headerCuyo {
    background-size: contain;
    height: 450px; }
  #headerContacto {
    background-size: contain;
    height: 450px; }
  .navbar {
    height: 55px;
    font-size: 15px; }
  .logo__img {
    transform: translateY(-20px);
    width: 115px;
    height: 95px; }
  .titulo-principal {
    display: flex;
    justify-content: right;
    font-size: 45px;
    font-weight: bolder; } }

@media (max-width: 768px) {
  .navbar-toggler {
    transform: translateY(-20px);
    background-color: rgba(255, 255, 255, 0.4);
    border: 30px; }
  .nav-item {
    background-color: rgba(255, 255, 255, 0.75); }
  .navbar {
    height: 40px; }
  .nav-link {
    display: flex;
    justify-content: right; }
  .titulo {
    font-size: 10px; }
  .logo {
    font-size: 10px; }
  header, #headerMaipu, #headerUco, #headerCuyo, #headerContacto {
    background-size: contain;
    background-image: url(../Assets/img/HeaderIndex1.jpg);
    height: 200px; }
  #headerUco {
    background-image: url(../Assets/img/HeaderUco.jpg);
    background-size: contain;
    height: 220px; }
  #headerMaipu {
    background-image: url(../Assets/img/HeaderMaipu.jpg);
    background-size: contain;
    height: 220px; }
  #headerCuyo {
    background-image: url(../Assets/img/HeaderCuyo.jpg);
    background-size: contain;
    height: 220px; }
  #headerContacto {
    background-image: url(../Assets/img/HeaderContactobis.jpg);
    background-size: contain;
    height: 220px; }
  .titulo-principal {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 900px; }
  .logo__img {
    transform: translateY(-20px);
    width: 50px;
    height: 45px; } }

.titulocontacto {
  padding: 15px;
  display: flex;
  justify-content: center;
  font-size: x-large; }

.titulocontacto1 {
  padding: 5px 0px;
  font-size: x-large; }

.nombreform {
  padding: 15px 0; }

.newsletter {
  width: 60vh; }

.botonescontacto {
  padding-bottom: 15px; }

.img__sobreNosotros {
  border-radius: 50px;
  padding: 30px;
  width: 500px;
  height: 575px;
  filter: grayscale(100%); }
  .img__sobreNosotros:hover {
    filter: none;
    transition: all 0.3s ease; }

.img__form {
  border-radius: 50px;
  padding: 30px;
  padding-top: 40px;
  width: 500px;
  height: 675px;
  filter: blur(5px); }
  .img__form:hover {
    filter: none;
    transition: all 0.3s ease; }

@media (max-width: 1180px) {
  #formulario {
    flex-direction: column; }
  .newsletter {
    width: fit-content; }
  .img__sobreNosotros {
    transform: translateX(70px);
    display: flex;
    justify-content: center;
    width: 540px;
    height: 575px; }
  .img__form {
    transform: translateX(70px);
    display: flex;
    justify-content: center;
    width: 540px;
    height: 575px; } }

@media (max-width: 768px) {
  #formulario {
    flex-direction: column; }
  .newsletter {
    width: fit-content; }
  .img__sobreNosotros {
    transform: translateX(25px);
    display: flex;
    justify-content: center;
    width: 340px;
    height: 375px; }
  .img__form {
    transform: translateX(25px);
    display: flex;
    justify-content: center;
    width: 340px;
    height: 375px; } }
