*{margin:0;
padding:0;}


li{list-style:none ;}

h1:hover{
                 transform: translateY(15px);
                 transition: all 0.3s ease;

}

@keyframes movimientosmisc{

    0%{
                 transform:translateY(-50px);
                 opacity:0;
    }
    100%{
                 transform: translateY(0px);
                 opacity:1;

    }
}

.titulo-pricipal{
   
                 width: fit-content;
                 font-family: "Caveat";
                 border: none;
                 color: rgb(11, 12, 12);
                 text-decoration:dashed;
                 font-size: 85px;
                 padding-left: 20px;
                 padding-top: 50px;
                 animation-name: movimientosmisc;
                 animation-duration: 0.55s;
                 animation-timing-function:ease-in;



}


.logo{
                font-family: "Caveat";
                border: none;
                color: rgb(11, 12, 12);
                text-decoration:dashed;
                font-size: 35px;
}

.navbar-brand:hover{
                transform: scale(1.06);
                transition: all 0.3s ease;  
                color: rgb(45, 4, 48); 

}

.nav-item:hover{
                transform: scale(1.03);
                transition: all 0.3s ease; 

}

.navbar-brand{        
                color: rgb(45, 4, 48);
                text-decoration:dashed;
                font-size:xx-large; 
                font-family: "caveat";
                text-align: center;
            }
 

body{
                font-family: "Inter";
                
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.93), rgb(165, 166, 166));
                
}

.titulo{
                color: rgb(11, 12, 12);        
                height: fit-content;
                width   : fit-content;
}

.navbar{        
                background-color:rgba(74, 73, 73, 0.1);
                padding:0;
        }

.nav-link{
                font-family: "Inter";
} 

.menu{
                padding: 0px;
                font-family: "Inter";
                color: rgb(4, 5, 6);
    }

header{         
                font-weight: bolder;
                font-size: large;
                color: rgb(11, 12, 12);
                background-image:url(./Assets/posibleheader1v4bis1.jpg);
                background-repeat: no-repeat;              
                background-size: cover;
                height:100vh;
                background-position: top;
                background-attachment: fixed;
}

nav a{         
                font-weight: bolder;
                color: rgb(13, 13, 13);
                text-decoration:dashed;

}

.menu{
                position: sticky;
                display: inline-block;
                padding: 5px;
}


.salidas-titulo{
                font-weight: bold;
                display: flex;
                justify-content: center;
                padding: 10px;
                font-size: larger;
                font-family: "Inter";
                color: rgb(7, 7, 7);}

.salidas-parrafo{
                padding:10px;
                padding-top: 50px;
                line-height: 30px;
                text-align: center;
                font-size: large;
                font-family: "Inter";
                color: rgb(7, 7, 7);
}

.card{          padding-top: 5px;
                display: grid;
                grid-template-areas: 
                "card__img card__title"
                "card__img card__text"
                "card__img button";
                grid-template-rows:10% 70% 20%;
                grid-template-columns:25% 75% ;
                padding: 5px;
                margin-bottom: 15px;
                background-color: rgb(233, 232, 232 );
                border-radius: 50px;
                width: 50rem ;
                height: 15rem ;
                box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
}

.card__img{     grid-area:card__img;
                padding-top:15px ;
                justify-content: center;
                margin: 0px auto;
                width:160px;
                height:160px;
                border-radius: 1000vh;
                object-fit: cover;             
}
.card__img:hover{ 
                transform: scale(1.03);
                transition: all 0.3s ease;      
}

.card__title{   grid-area: card__title;
                text-align: center;
                font-size: 20px;
}

.card__text{    
                padding-top: 15px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                grid-area: card__text;
                text-align: left;               
}

.button{        
                justify-content: left;
                grid-area: button;
                height: fit-content;
                width   : fit-content;
                margin: 5px auto;
                border-style: inset;
                border-width: thin;
                color:aliceblue;
                font-weight:400;
                text-decoration: none;
                padding:5px;
                border-radius:8px;
                background-color:rgba(0,0,0,0.75)
}

.button:hover{
                transform: translateY(-5px);
                transition: all 0.3s ease;
                background-color: aliceblue;
                color:rgba(0,0,0,0.75);
                font-weight: bolder;
                border-width:initial;
}

footer{         padding: 5px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.93), rgb(165, 166, 166));
                line-height: 15px;
                font-family: "Inter";
}
.legal{
                line-height: 30px;
                padding-top:15px;
                font-family: "Inter";
                text-decoration: solid;
                width: 30%;
                font-weight:600;    
}


.footer2{       font-family: "Inter";
                flex-direction: column;
            }

.redes-sociales{
                font-weight: bold;
                padding:10px
}
.redes-sociales:hover{
                transform: scale(1.02);
                transition: all 0.3s ease;  
}

footer a {

                color: rgb(11, 12, 12);;
                text-decoration:underline;
                font-weight:bold;
                padding: 1px;
    }

.footer__text{
                padding: 10px;
                color: rgb(11, 12, 12);
        }

/* ----------------Seccion Valle de UCO--------------------------*/



#headerUco{
    background-image:url(./Assets/Valledeuco17.jpg);

                background-repeat: no-repeat;
                background-size:cover;
                background-position: top;
                height: 100vh;
                background-attachment: fixed;
    }


.textoseccion{  grid-area: texto;
                text-decoration:wavy;
                padding-top: 20px;
                font-weight: 450;
                font-family: "Inter";
                font-size: large;
                color: rgb(11, 12, 12);
                text-align: center;
                line-height: 35px;
}


/* ----------------Seccion Lujan de Cuyo--------------------------*/
#headerCuyo{
                background-image:url(./Assets/Lujandecuyo2.jpg);
                background-repeat: no-repeat;
                background-size:cover;
                height: 100vh;
                background-attachment: fixed;
}

.headerpcuyo{
                text-decoration:wavy;
                padding: 10px;
                margin-top: 20px;
                font-family: "Inter";
                font-weight: bolder;
                font-size: larger;
                color: rgb(11, 12, 12);
                height: 80vh;
                width: 85vh;
                text-align: center;
                line-height: 25px;
}


/* ----------------Seccion Olivos de Maipu--------------------------*/
#headerMaipu{
                background-image:url(./Assets/olivosmaipu9.jpg);
                background-repeat: no-repeat;
                background-size:cover;
                height: 100vh;
                background-attachment: fixed;
}

.headerpmaipu{
                text-decoration:wavy;
                padding: 10px;
                margin-top: 20px;
                font-family: "Inter";
                font-weight: bolder;
                font-size: larger;
                color: rgb(11, 12, 12);
                height: 80vh;
                width: 85vh;
                text-align: center;
                line-height: 25px;
}

/* ----------------Seccion Contacto--------------------------*/
#headerContacto{

                 background-image:url(./Assets/Valledeuco14.jpg);
                 background-repeat: no-repeat;
                 background-size: cover;
                 height: 100vh;
                 background-attachment: fixed;
   }



.titulocontacto{
                 padding:15px;
                 display: flex;
                 justify-content: center;
                 font-size:x-large;
}
.titulocontacto1{
                padding:5px 0px;
                font-size:x-large;
}
.nombreform{
                padding: 15px 0;
}
.newsletter{
                 width: 60vh;
}
.botonescontacto{

                padding-bottom:15px;
}

/* -----------------SECCIONES BODEGAS X3-------------------------*/


.card__bodega{
                 display: flex;
                 margin: 0px auto;
                 padding: 20px;
                 background-color: rgb(233, 232, 232);
                 border-radius: 50px;
                 margin:20px 40px;
                 width:50rem;
                 height:15rem;
                 align-items: center;
                 box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
   
    }
    
.card__img_bodega{
                flex-direction:row;
                display: block;
                margin: 0px auto;
                width:200px;
                height:200px;
                border-radius: 100vh;
                object-fit: cover;  
    }
 
.card__img_bodega:hover{ 
                transform: scale(1.03);
                transition: all 0.3s ease;      
}
    
.card__title__bodega{
                margin:0 15px 0 0;
                text-align: top;
    }

.card__text__bodega{
                text-align: center;
}

.bodega-titulo{
                padding-top: 10px;
                text-align: center;
                font-size: larger;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}
        
.parrafocierre{
                grid-area: parrafoCierre;
                text-align: center;
                font-size: larger;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}
.parrafocierre a{
                text-align: center;
                font-size: larger;
                font-family: "Inter";
                text-decoration: underline;
                color: rgb(11, 12, 12);
}




@media (max-width:1180px)       {


header{         
                background-size:contain;
                height:450px;
            }

#headerUco{    
                background-size:contain;
                height:450px;
            }

#headerMaipu{   
                background-size:contain;
                height:450px;
            }

#headerCuyo{
                background-size:contain;
                height:450px;
                }

#headerContacto{background-size:contain;
                height:450px;
                }



.titulo-pricipal{font-size: 45px;
                padding-top: 15px;
                }
    
nav a{          font-size: small;
}



.salidas-parrafo{
                
                font-size: 22px;
                padding-top: 20;
                line-height: 23px;
}

.salidas-titulo{
                text-align: center;
                font-size: 24px;
}
.card{
                margin-top: 15px;
                grid-template-areas: 
                "card__img card__title"
                "card__img card__text"
                "card__img button";
                grid-template-rows:10% 70% 20%;
                grid-template-columns:50% 50% ;
                height: 440px  ;
                width: 750px ;
}
.card__text{
                width: fit-content;
                font-size: 23px;
    
}
.card__title{
                font-size: 30px;
}
.button{        
                margin-top: 20px;
                font-size: 20px;
}



.card__img{     grid-area:card__img;
                justify-content: center;
                border-radius: 100vh;
                object-fit: cover;  
                width:340px;
                height:340px;
            }

.mainCointainerSecciones{
                height: auto;
                
}
.bodegastitulo{
                margin: 0;
               
                font-size:10px;
}
.bodega-titulo{
                font-size: 17px;
}
.card__bodega{
                display: flex;
                flex-direction: row;
                margin: 0px ;
                height:auto;
                padding: 10px;
                background-color: rgb(233, 232, 232);
                border-radius: 50px;
                margin:10px 20px;
                width: 750;
                height:540;
                align-items: center;
}

.card__img_bodega{
                flex-direction:row;
                display: block;
                margin: 0px auto;
                width:370px;
                height:370px;
                border-radius: 100vh;
                object-fit: cover;  
}


.card__title__bodega{
                padding-bottom: 5px;
                font-size: medium;
                margin:0 3px 0 0;
                text-align: top;
}

.card__text__bodega{
                font-size: 18px;
                text-align: center;
}

.bodega-titulo{
                padding-top: 2px;
                text-align: center;
                font-size: 20px;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}

.parrafocierre{
               
                text-align: center;
                font-size: medium;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}
.parrafocierre a{
                text-align: center;
                font-size: larger;
                font-family: "Inter";
                text-decoration: underline;
                color: rgb(11, 12, 12);
}
.textoseccion{
                padding-top: 10px;
                font-size:20px;
                line-height: 25px;
}
.bodega-titulo{
                font-size: 25px;
                height: fit-content;
}
footer{
                background-size: cover;
}
.footer__text{
                font-size: 10px;
}

#formulario{
                flex-direction: column;            
            }
.newsletter{
                width: fit-content;
            }

            .footer2{font-size: 17px;

            }
            
                
            
            .redes-sociales{
                         padding: 5px;
                         font-size: 17px;
            } 
            
            .legal{     font-family: "Inter";
                        text-decoration: solid;
                        flex-direction: column;
                        font-size: 15px;
                        line-height: 20px;
                    }
            
                    .footer__text{
                        font-size: 17px;
            }



}






@media (max-width:768px){

.navbar{height:40px;
    background-color:rgba(74, 73, 73, 0.1);
    font-size: 15px;}

.navbar-brand{
    font-size: 20px;
}
.nav-link{  padding: 0px;
            margin: 0px;
            text-decoration: dashed;

            font-weight: bolder;
            }

.titulo{        
                font-size: 10px;
}
.logo{
                font-size: 10px;
}

header{
                background-size:contain;
                height:250px;
        }

#headerUco{
                background-size:contain;
                height:250px;
            }

#headerMaipu{
                background-size:contain;
                height:220px;
                }

#headerCuyo{
                background-size:contain;
                height:220px;
                }

#headerContacto{
                background-size:contain;
                height:220px;
                }


.titulo-pricipal{
                display: flex;
                justify-content: right;
                padding-top: 0px;
                font-size: 20px;
                
                padding-right: 2px;
                font-weight: bolder;
                }
    
nav a{          
                font-size: 10px;
                }
    


.salidas-parrafo{

                font-size: 12px;
                padding: 10px;
                line-height: 17px;
}

.salidas-titulo{
                grid-area: salidasTitulo;
                font-size: 15px;
}
.card{
                grid-template-areas: 
                "card__img card__title"
                "card__img card__text"
                "card__img button";
                grid-template-rows:5% 72% 23%;
                grid-template-columns:50% 50% ;
                width: 390px ;
                height: 200px ;


}
.card__title{   font-weight: bold;
                font-size: 10px;
}
.card__text{
                width: fit-content;
                font-size: 10px;  
}
.button{        font-size: 7px;
                
}
.card__img{     
                grid-area:card__img;
                justify-content: center;
                margin: 0px auto;
                width:150px;
                height:150px;
                border-radius: 100vh;
                object-fit: cover;
                 
}
.mainCointainerSecciones{
                height:auto;
            
}
.bodegastitulo{
                margin: 0;
                
                font-size:10px;
}
.bodega-titulo{
                font-size: 10px;
}
.card__bodega{
                display: flex;
                flex-direction: row;
                margin: 0px ;
                padding: 10px;
                background-color: rgb(233, 232, 232);
                border-radius: 50px;
                margin:10px 20px;
                width: 90%;
                height:22vh;
                align-items: center;

}

.card__img_bodega{
                flex-direction:row;
                display: block;
                margin: 0px auto;
                width:100px;
                height:100px;
                border-radius: 100vh;
                object-fit: cover;  
}


.card__title__bodega{
                padding-bottom: 5px;
                font-size: medium;
                margin:0 3px 0 0;
                text-align: top;
}

.card__text__bodega{

                font-size: 10px;
                text-align: center;
}

.bodega-titulo{
  
                text-align: center;
                font-size: 15px;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}

.parrafocierre{
                text-align: center;
                font-size: medium;
                font-family: "Inter";
                color: rgb(11, 12, 12);
}
.parrafocierre a{
                text-align: center;
                font-size: larger;
                font-family: "Inter";
                text-decoration: underline;
                color: rgb(11, 12, 12);
}
.textoseccion{
                padding-top: 15px;
                font-size:10px;
                line-height: 20px;
}
.bodegastitulo{
                font-size: medium;
                height: fit-content;
}
footer{
                background-size: cover;
            }

.footer__text{
                font-size: 10px;
    }

#formulario{
                flex-direction: column;
    }

.newsletter{
                width: fit-content;
    }
    .footer2{font-size: 10px;

    }

    .redes-sociales{
                 padding: 3px;
                 font-size: 10px;
} 

    .legal{     font-family: "Inter";
                text-decoration: solid;
                flex-direction: column;
                
                font-size: 5px;
                line-height: 10px;
            }
}

