.card{
    padding-top: 5px;
    display: grid;
    grid-template-areas: 
    "card__title card__title"
    "card__img card__text"
    "card__img button";
    grid-template-rows:10% 70% 20%;
    grid-template-columns:30% 70% ;
    padding: 5px;
    margin-bottom: 15px;
    
    background-color: rgb(233, 232, 232 );
    border-radius: 50px;
    width: 50rem ;
    height: 18rem ;
    box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);


.card__img{     
    grid-area:card__img;            
    justify-content: center;
    margin: 0px auto;
    width:210px;
    height:210px;
    border-radius: 100vh;
        &:hover{
            transform: scale(1.03);
            transition: all 0.3s ease; }               
}
.card__title{   
    grid-area: card__title;
    text-align: center;
    font-size: 20px;
         &:hover{
            transform: scale(1.03);
            transition: all 0.3s ease; }
}

.card__text{    
    padding-top: 15px;
    display: flex;
    justify-content: center;
    grid-area: card__text;
    text-align: left;               
}

.button{        
    justify-content: left;
    grid-area: button;
    height: fit-content;
    width   : fit-content;
    margin: 5px auto;
    border-style: inset;
    border-width: thin;
    color:aliceblue;
    font-weight:400;
    text-decoration: none;
    padding:5px;
    border-radius:8px;
    background-color:rgba(0,0,0,0.75);
            &:hover{
                transform: translateY(-5px);
                transition: all 0.3s ease;
                background-color: aliceblue;
                color:rgba(0,0,0,0.75);
                font-weight: bolder;
                border-width:initial;}
        }
}

.card2{
    padding-top: 5px;
    display: grid;
    grid-template-areas: 
    "card__title card__title"
    "card__text card__img"
    "card__text card__img";
    grid-template-rows:10% 89% 1%;
    grid-template-columns:70% 30% ;
    padding: 5px;
    margin-bottom: 15px;
    background-color: rgb(233, 232, 232 );
    border-radius: 50px;
    width: 50rem ;
    height: 18rem ;
    box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 19px 1px rgba(0,0,0,0.75);

    .card__img{     
        grid-area:card__img;            
        justify-content: center;
        margin: 0px auto;
        width:210px;
        height:210px;
        border-radius: 100vh;
        &:hover{
                    transform: scale(1.03);
                    transition: all 0.3s ease; }
        
                   
    }
    
    
    .card__title{   
        grid-area: card__title;
        text-align: center;
        font-size: 20px;
        &:hover{
            transform: scale(1.03);
            transition: all 0.3s ease; }
    }
    
    .card__text{    
        padding-top: 15px;
        padding-left: 17px;
        
        display: flex;
        justify-content: center;
        grid-area: card__text;
        text-align: left;               
    }
    
    .button{        
        justify-content: left;
        grid-area: button;
        height: fit-content;
        width   : fit-content;
        margin: 5px auto;
        border-style: inset;
        border-width: thin;
        color:aliceblue;
        font-weight:400;
        text-decoration: none;
        padding:5px;
        border-radius:8px;
        background-color:rgba(0,0,0,0.75);
        &:hover{
                    transform: translateY(-5px);
                    transition: all 0.3s ease;
                    background-color: aliceblue;
                    color:rgba(0,0,0,0.75);
                    font-weight: bolder;
                    border-width:initial;}
    }
}




@media (max-width:1180px)       {
    .card{
        margin-top: 15px;
        grid-template-areas: 
        "card__title card__title"
        "card__img card__text"
        "card__img button";
        grid-template-rows:10% 70% 20%;
        grid-template-columns:40% 60% ;
        width:60vh;
        height: 33vh;
            .card__text{
                width: fit-content;
                font-size: 17px;
        }
            .card__title{
                font-size: 30px;
        }
            .button{        
                margin-top: 20px;
                font-size: 20px;
        }
        
        
        
            .card__img{     
                grid-area:card__img;
                justify-content: center;
                border-radius: 100vh;
                object-fit: cover;  
                width:17rem;
                height:17rem;
                    }
    }

    .card2{
            margin-top: 15px;
            grid-template-areas: 
            "card__title card__title"
            " card__text card__img"
            "button card__img";
            grid-template-rows:10% 70% 20%;
            grid-template-columns:60% 40% ;
            width:60vh;
            height: 33vh;
                .card__text{
                    width: fit-content;
                    font-size: 17px;
    
                }
                .card__title{
                                font-size: 30px;
                }
                .button{        
                                margin-top: 20px;
                                font-size: 20px;
                }



                .card__img{     grid-area:card__img;
                                justify-content: center;
                                border-radius: 100vh;
                                object-fit: cover;  
                                width:17rem;
                                height:17rem;
                            }

}

    }
    
@media (max-width:768px){

        .card{          
                        grid-template-areas: 
                        "card__title card__title"
                        "card__img card__text"
                        "card__img button";
                        grid-template-rows:10% 65% 25%;
                        grid-template-columns:40% 60% ;
                        width: 370px ;
                        height: 220px ;
                        margin:15px;
        
            .card__title{   font-weight: bold;
                            font-size: 10px;
            }
            .card__text{
                            width: fit-content;
                            font-size: 8.9px;  
            }
            .button{        font-size: 7px;
                            
            }
            .card__img{     
                            grid-area:card__img;
                            justify-content: center;
                            margin: 0px auto;
                            width:140px;
                            height:140px;
                            border-radius: 100vh;
                            object-fit: cover;
                            
            }
        }
        .card2{
            grid-template-areas: 
            "card__title card__title"
            "card__text card__img"
            "button card__img";
            grid-template-rows:5% 72% 23%;
            grid-template-columns:60% 40% ;
            width: 370px ;
            height: 220px ;
            margin:15px;
                .card__title{   font-weight: bold;
                                font-size: 10px;
                            }
                .card__text{
                                width: fit-content;
                                font-size: 8.7px;                 
                            }
                .button{        font-size: 7px;
                            }
                .card__img{     
                                grid-area:card__img;
                                justify-content: center;
                                margin: 0px auto;
                                width:140px;
                                height:140px;
                                border-radius: 100vh;
                                object-fit: cover;
                            }        
        }
}