@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter&display=swap');
$primary-typography:"Caveat";
$secondary-typography:"Inter";

$font-sz: (
    "xs":10px,
    "s":15px,
    "m":17px,
    "l":25px,
    "xl":50px,
    "xxl":85px,
    )


