.titulocontacto{
    padding:15px;
    display: flex;
    justify-content: center;
    font-size:x-large;
}
.titulocontacto1{
   padding:5px 0px;
   font-size:x-large;
}
.nombreform{
   padding: 15px 0;
}
.newsletter{
    width: 60vh;
}
.botonescontacto{

   padding-bottom:15px;
}

.img__sobreNosotros{
    border-radius: 50px;
    padding: 30px;
    width:500px;
    height:575px;
    filter: grayscale(100%);
    &:hover{filter:none;
        transition: all 0.3s ease;
    }
}


@media (max-width:1180px)       {

    #formulario{
                    flex-direction: column;            
                }
    .newsletter{
                    width: fit-content;
                }
    .img__sobreNosotros{
                    transform: translateX(70px);
                    display: flex;
                    justify-content: center;
                    width:540px;
                    height:575px;
        
                }
           
    }


    @media (max-width:768px){

        #formulario{
                        flex-direction: column;
            }
        
        .newsletter{
                        width: fit-content;

        }
        .img__sobreNosotros{
            transform: translateX(25px);
            display: flex;
            justify-content: center;
            width:340px;
            height:375px;

        }
    
    }
    