li{list-style:none ;}
.titulo{
    color: rgb(11, 12, 12);        
    height: fit-content;
    width   : fit-content;
}
header{         
                font-weight: bolder;
                font-size: large;
                color: rgb(11, 12, 12);
                background-image:url(../Assets/posibleheader1v4bis1.jpg);
                background-repeat: no-repeat;              
                background-size: cover;
                height:100vh;
                background-position: top;
                background-attachment: fixed;
    .logo{
                font-family: $primary-typography;
                border: none;
                color: rgb(11, 12, 12);
                text-decoration:dashed;
                font-size: 35px;
    }
}

#headerMaipu{   
                @extend header;
                background-image:url(../Assets/olivosmaipu9.jpg);

}

#headerUco{     
                @extend header;
                background-image:url(../Assets/Valledeuco17.jpg);
    }

#headerCuyo{    
                @extend header;
                background-image:url(../Assets/Lujandecuyo2.jpg);
}

#headerContacto{
                @extend header;
                background-image:url(../Assets/Valledeuco14.jpg);

}
.titulo-pricipal{
                 width: fit-content;
                 font-family: $primary-typography;
                 border: none;
                 color: rgb(11, 12, 12);
                 text-decoration:dashed;
                 font-size: map-get($font-sz,xxl);
                 padding-left: 20px;
                 padding-top: 50px;
                 animation-name: movimientosmisc;
                 animation-duration: 0.55s;
                 animation-timing-function:ease-in;
                    @keyframes movimientosmisc{
                    0%{
                                 transform:translateY(-50px);
                                 opacity:0;
                    }
                    100%{
                                 transform: translateY(0px);
                                 opacity:1;
                    }
                }
                &:hover{
                    transform: translateY(15px);
                    transition: all 0.3s ease; 
                }
}

.navbar{                
                    
                    padding:0;
.navbar-brand{        
                        color: rgb(45, 4, 48);
                        text-decoration:dashed;
                        font-size:xx-large; 
                        font-family: "caveat";
                        text-align: center;
                        &:hover{transform: scale(1.06);
                            transition: all 0.3s ease;}
                                
                    }
.nav-link{
                        font-family:$secondary-typography;
        } 
.nav-item{
            &:hover{transform: scale(1.03);
            transition: all 0.3s ease; }

}

}


@media (max-width:1180px)       {
    .nav-link{  
        display: flex;
        padding: 0px;
        margin: 0px;
        text-decoration: dashed;
        justify-content: right;
        font-weight: bolder;
        }

    header{         
                    background-size:contain;
                    height:30vh;
                }
    
    #headerUco{    
                    background-size:contain;
                    height:450px;
                }
    
    #headerMaipu{   
                    background-size:contain;
                    height:450px;
                }
    
    #headerCuyo{
                    background-size:contain;
                    height:450px;
                    }
    
    #headerContacto{background-size:contain;
                    height:450px;
                    }
                }    




@media (max-width:768px){

                    .navbar{height:40px;
                    
                        font-size: 15px;}
                    
                    .navbar-brand{
                        font-size: 20px;
                    }
                    .nav-link{  padding: 0px;
                                margin: 0px;
                                text-decoration: dashed;
                                margin-inline-end: 0px;
                                font-weight: bolder;
                                font-size: 10px;
                                }
                    
                    .titulo{        
                                    font-size: 10px;
                    }
                    .logo{
                                    font-size: 10px;
                    }
                    
                    header{
                                    background-size:contain;
                                    height:250px;
                            }
                    
                    #headerUco{
                                    background-size:contain;
                                    height:250px;
                                }
                    
                    #headerMaipu{
                                    background-size:contain;
                                    height:220px;
                                    }
                    
                    #headerCuyo{
                                    background-size:contain;
                                    height:220px;
                                    }
                    
                    #headerContacto{
                                    background-size:contain;
                                    height:220px;
                                    }
                    
                    
.titulo-pricipal{
    display: flex;
    justify-content: right;
    padding-top: 20px;
    font-size: 35px;
    padding-right: 2px;
    font-weight: bolder;
    }


                                }            